# Archivos compilados de Python
*.py[cod]
__pycache__/

# Base de datos local (si usabas SQLite antes)
db.sqlite3

# Entornos virtuales
env/
venv/

# Archivos de entorno (variables sensibles)
*.env

# Logs y temporales
*.log

# Archivos estáticos recolectados (en producción)
staticfiles/

# Archivos de usuario
media/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/

# Archivos de migraciones opcional (solo si los generas después)
# */migrations/*.py
# */migrations/*.pyc
